@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeueBold.woff2') format('woff2'), url('../fonts/BebasNeueBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy'),
    url('../fonts/Gilroy-Regular.ttf') format('truetype'),
    url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy'),
    url('../fonts/Gilroy-Medium.ttf') format('truetype'),
    url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy'),
    url('../fonts/Gilroy-SemiBold.ttf') format('truetype'),
    url('../fonts/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy'),
    url('../fonts/Gilroy-Bold.ttf') format('truetype'),
    url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Gilroy';
    box-sizing: border-box;
    outline: none;
    color: #2D3739;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 68px;
    font-weight: 700;
    font-family: 'Bebas Neue';
    margin-bottom: 30px;
}

h2 {
    font-size: 62px;
    font-weight: 700;
    font-family: 'Bebas Neue';
    margin-bottom: 30px;
}

h3 {
    font-family: 'Bebas Neue';
    font-size: 32px;
    margin-bottom: 20px;
}

h4 {
    font-size: 28px;
    font-family: 'Bebas Neue';
    margin-bottom: 30px;
}

body {
    background: #FBFBFB;
}

.container {
    width: 1200px;
    padding: 0 20px;
    margin: auto;
}

.btn_blue {
    background: #2BA6FF;
    color: #FFF;
    transition: 0.1s;
    border: 1px solid #2BA6FF;
}

.btn_blue:hover {
    background: #FFF;
    color: #2BA6FF;
}

.text-center {
    text-align: center;
}

.btn_default {
    padding: 14px;
    border-radius: 4px;
}

.header {
    padding: 20px 0;
}

.header .top_block {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.header .logo {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header .logo span {
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    color: #2D3739;
}

.header .top_block .item {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    align-items: center;
}

.header .item .icon {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background: #F1F1F1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header .top_block .icon svg {
    width: 16px;
    height: 16px;
}

.header .top_block .item p {
    font-size: 14px;
    font-weight: 400;
    color: #2D3739;
}

.header .top_block .item p span {
    font-weight: 600;
}

.header .top_block .item.location .icon {
    width: fit-content;
    height: fit-content;
    background: none;
}

.header .top_block .item.location .icon svg {
    width: 11px;
}

.header .top_block .item:nth-child(3) p,
.header .top_block .item:nth-child(4) p {
    font-size: 12px;
}

.header .top_block .item:nth-child(3) p span,
.header .top_block .item:nth-child(4) p span {
    font-size: 14px;
}

.header .top_block .item.callback p {
    font-size: 16px;
    font-weight: 600;
}

.header .top_block .item.callback p a {
    font-size: 12px;
    color: #2BA6FF;
    text-decoration: underline;
}

.header .top_block .item.location {
    display: flex;
    align-items: flex-start;
    padding-top: 2px;
    gap: 5px;
}

.header .top_block .item.location p {
    font-size: 12px;
    text-decoration: underline;
    color: #2D3739;
}

.header .bottom_block {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .btn_catalog {
    background: #14B3ED;
    width: 120px;
    color: #FFF;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
}

.header .btn_catalog span {
    color: #FFF;
}

.header .bottom_block .search {
    width: 420px;
    height: 38px;
    position: relative;
}

.header .bottom_block .search input {
    width: 100%;
    border: 1px solid #7C909640;
    border-radius: 4px;
    height: 100%;
    padding-left: 34px;
    padding-right: 100px;
}

.header .bottom_block .search input {
    width: 100%;
    border: 1px solid #7C909640;
    border-radius: 4px;
    padding-left: 34px;
    padding-right: 100px;
    font-weight: 500;
}

.header .bottom_block .search .btn_blue {
    position: absolute;
    top: 0;
    right: 0;
    width: 89px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.header .bottom_block .search label {
    position: absolute;
    height: 100%;
    width: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .bottom_block .soc_block {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header .bottom_block .soc_block a {
    height: 32px;
}

.header .bottom_block .item {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header .bottom_block .item {
    font-size: 14px;
    font-weight: 600;
}

.header .bottom_block .item .count {
    position: absolute;
    font-size: 8px;
    font-weight: 500;
    color: #FFF;
    background: #F54848;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -5px;
    right: 0px;
}

.header .bottom_block .auth_block {
    border: 1px solid #7C9096;
    padding: 10px 20px;
    border-radius: 50px;
}

.head_menu {
    margin-top: 20px;
    background: #F5F5F5;
}

.head_menu ul {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.head_menu li {
    list-style: none;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
}

.head_menu li:first-child a {
    font-weight: 600;
    color: #F54848;
}

.head_menu li:nth-child(4) a {
    color: #2BA6FF;
}

.head_menu li:last-child {
    font-weight: 700;
}

.main {
    padding-top: 63px;
}

.big_banners {
    margin-top: -13px;
    margin-bottom: 100px;
}

.big_banner,
.small_banner {
    background-position: right bottom !important;
    background-repeat: no-repeat !important;
}

.big_banners .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.big_banner {
    grid-column: span 2;
    padding-top: 40px;
    padding-left: 30px;
    height: 230px;
    border-radius: 4px;
}

.small_banner:nth-child(2) {
    padding-top: 40px;
    padding-left: 30px;
}

.small_banner {
    padding: 30px;
    height: 230px;
    border-radius: 4px;
}

.big_banners .items p {
    font-size: 28px;
    font-weight: 600;
    color: #FFF;
}

.small_banner:not(:nth-child(2)) {
    display: flex;
    align-items: flex-end;
}

.catalog_blocks .items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
}

.catalog_blocks .banner_block {
    background: url("../img/background-left-catalog_banner.png"),
    url("../img/background-right-catalog_banner.png");
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-end;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: left top, right top;
    background-size: cover;
}

.catalog_blocks .banner_block a {
    width: 100%;
    text-align: center;
    border-radius: 4px;
    font-size: 14px;
    margin-top: 10px;
}

.catalog_blocks .banner_block p {
    font-size: 20px;
    font-weight: 600;
}

.catalog_blocks .item {
    border-radius: 4px;
    background: #FFF;
}

.catalog_blocks .item img {
    max-height: 200px;
}

.catalog_blocks .item .text {
    padding: 15px 20px 25px;
}

.catalog_blocks .item .text>a {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    display: block;
}

.catalog_blocks .item ul {
    list-style: none;
}

.catalog_blocks .item li:not(:last-child) {
    margin-bottom: 10px;
}

.catalog_blocks .item li a {
    font-size: 12px;
    text-decoration: underline;
}

.catalog_blocks .container>.btn_default {
    width: 240px;
    margin: auto;
    display: block;
    border: 1px solid #2BA6FF;
    text-align: center;
    border-radius: 4px;
    font-size: 14px;
    margin-top: 40px;
    color: #2BA6FF;
    transition: 0.3s;
}

.catalog_blocks .container>.btn_default:hover {
    background: #2BA6FF;
    color: #FFF;
}

.stocks {
    margin-top: 105px;
}

.stocks .items {
    position: relative;
}

.stocks .tabs ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.stocks .tabs ul li {
    background: #F5F5F5;
    font-size: 16px;
    font-weight: 500;
    padding: 20px 40px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.1s;
    display: flex;
    gap: 10px;
    align-items: center;
}

.stocks .tabs ul li.active,
.stocks .tabs ul li:active,
.stocks .tabs ul li:hover {
    background: #2BA6FF;
    color: #FFF;
}

.stocks .tabs ul li.active span,
.stocks .tabs ul li:active span,
.stocks .tabs ul li:hover span {
    color: #2BA6FF;
    background: #FFF;
}

.stocks .tabs ul li span {
    width: 18px;
    height: 18px;
    font-size: 10px;
    background: #2BA6FF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    color: #FFF;
    align-items: center;
    gap: 10px;
    transition: 0.1s;
}

.product_slides,
.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.product_slides .name,
.product .name {
    font-size: 16px;
    font-weight: 600;
    margin-top: 15px;
    text-align: center;
}

.product_slides .count,
.product .count {
    font-size: 10px;
    font-weight: 600;
    margin-top: 12px;
    margin-bottom: 5px;
}

.product_slides .price,
.product .price {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    /*position: relative;*/
    background-image: url('../svg/background_price_in_prod.svg');
    background-size: contain;
    background-position: center;
    width: 112px;
    display: flex
;
    align-items: center;
    justify-content: center;
}

.product_slides .price span,
.product .price span {
    font-size: 14px;
}

.product_slides .count_total ,
.product .count_total {
    font-size: 10px;
    margin-bottom: 10px;
}

.product_slides .check_count,
.product .check_count {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 9px;
}

.product_slides .minus,
.product .minus,
.product_slides .plus ,
.product .plus {
    width: 18px;
    height: 18px;
    display: block;
    background: #F0F2F2;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product_slides input[type="number"],
.product input[type="number"] {
    background: #F0F2F2;
    border: 0;
    text-align: center;
    height: 30px;
    border-radius: 4px;
    max-width: 140px;
}

.product_slides .variable_count,
.product .variable_count {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
    width: 100%;
    justify-content: space-between;
}

.product_slides .btn_default,
.product .btn_default {
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
}

.product_slides .info_delivery_prod,
.product .info_delivery_prod {
    background: #2BA6FF0D;
    padding: 4px 5px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
    font-weight: 500;
    width: 100%;
    justify-content: center;
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
}

.product img {
    width: 100%;
    height: 100%;
}

.swiper-horizontal {
    overflow: hidden;
}

.why_us {
    margin-top: 120px;
    margin-bottom: 70px;
    background: #F0F2F2;
    padding-top: 75px;
    padding-bottom: 91px;
}

.why_us .items {
    margin-top: 53px;
    display: flex;
    justify-content: space-between;
}

.why_us .items .icons {
    width: 100px;
    height: 100px;
    background: #FFF;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.why_us .items .icons .check_white {
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 20px;
    height: 20px;
    background: #2BA6FF;
    border-radius: 100%;
    padding: 5px;
}

.why_us .items p {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.why_us .items p span {
    font-weight: 600;
}

.why_us .items .item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.warehouse .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    padding: 0 0 0 60px;
}

.warehouse .items_address .icon {
    width: 40px;
    height: 40px;
    background: #F0F2F2;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.warehouse .items_address .item {
    display: grid;
    gap: 10px;
    grid-template-columns: auto 1fr;
}

.warehouse .items_address .item .name {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
}

.warehouse .items_address .item .text {
    font-size: 12px;
    font-weight: 400;
}

.warehouse .items_address .item .description {
    font-size: 10px;
    font-weight: 500;
    margin-top: 10px;
}

.warehouse .items_address {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.warehouse .btns {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    margin: 20px 0;
    gap: 10px;
}

.warehouse .btns .btn_default {
    border: 1px solid #2BA6FF;
    text-align: center;
    color: #2BA6FF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: 0.1s;
}

.warehouse .btns .btn_default:hover {
    background: #2BA6FF;
    color: #FFF;
}

.warehouse .btns .btn_default:hover svg path {
    fill: #FFF;
}

.warehouse .btns .btn_blue {
    padding: 14px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.warehouse .btns .btn_blue:hover svg path {
    fill: #2BA6FF;
}

.warehouse .items_address .item .text a {
    font-weight: 500;
}

.warehouse .items_address .item a.text {
    text-decoration: underline;
    color: #2BA6FF;
}

.col_map img {
    width: 100%;
    height: 100%;
}

footer {
    padding: 50px 0 38px;
    background: #F0F2F2;
    margin-top: 100px;
}

footer .container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 40px;
}

.contacts_footer {
    margin-top: 34px;
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.contacts_footer .item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    align-items: center;
}

.contacts_footer .item .icon {
    width: 36px;
    height: 36px;
    background: #FFF;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacts_footer .item .text {
    font-size: 12px;
}

.contacts_footer .item .text span,
.contacts_footer .item .text a {
    font-size: 14px;
    font-weight: 600;
    display: block;
}

.contacts_footer .item:last-child a {
    font-size: 16px;
}

.contacts_footer .item:last-child .callback {
    font-size: 12px;
    font-weight: 500;
    color: #2BA6FF;
    text-decoration: underline;
}

footer .name_menu {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
    display: block;
}

ul.menu_footer {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

ul.menu_footer li a {
    font-size: 14px;
}

.soc_footer svg {
    width: 28px;
    height: 28px;
}

.soc_footer a {
    width: 28px;
    height: 28px;
}

.soc_footer {
    display: flex;
    gap: 15px;
}

.breadcrumb ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.breadcrumb ul li {
    font-size: 14px;
    font-weight: 500;
}

.breadcrumb ul li:nth-last-child(-n+2),
.breadcrumb ul li:last-child {
    color: #2BA6FF;
}

.stock_catalog_item li {
    list-style: none;
    font-size: 16px;
    font-weight: 600;
    color: #F54848;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 35px;
}

.stock_catalog_item li span {
    color: #F54848;
    font-size: 20px;
}

.catalog_list {
    list-style: none;
    margin-bottom: 25px;
}

.catalog_list_items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.catalog_items {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 100px;
}

.catalog_list>li>a {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
    display: block;
}

.children {
    list-style: none;
}

.children li a {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    display: block;
}

.catalog_text p {
    margin-bottom: 20px;
}

.catalog_text ul {
    list-style: none;
    margin-bottom: 20px;
}

.catalog_text ul li {
    margin-left: 20px;
    position: relative;
}

.catalog_text ul li:before {
    content: '';
    background: #2D3739;
    width: 2px;
    height: 2px;
    display: block;
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translate(0%, -50%);
}

.catalog_text {
    width: 80%;
}

.catalog_items .left_block {
    width: 200px;
}

.menu_category {
    margin-bottom: 40px;
}

.menu_category li {
    list-style: none;
    padding: 10px 15px;
    border-right: 1px solid #E9ECEC;
    border-left: 1px solid #E9ECEC;
    border-bottom: 1px solid #E9ECEC;
}

.menu_category li:first-child {
    border-top: 1px solid #E9ECEC;
}

.menu_category li a {
    font-size: 14px;
    font-weight: 500;
}

.menu_category li.active {
    background: #2BA6FF;
}

.menu_category li.active a {
    color: #FFF;
}

.filter .top_block .name {
    font-size: 24px;
    font-family: 'Bebas Neue';
}

.filter .top_block {
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter .top_block a {
    color: #2BA6FF;
    font-size: 12px;
    font-weight: 600;
}

.filters .name {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 9px;
}

.inputs_price .input_label {
    display: flex;
    align-items: center;
    gap: 10px;
}

.inputs_price .input_label label {
    font-size: 12px;
    color: #7C9096;
}

.inputs_price .input_label input {
    background: #F5F5F5;
    border: 0;
    border-radius: 4px;
    padding: 5px;
    width: 100%;
    margin-right: 10px;
}

.inputs_price {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.input_price_draggable {
    width: 100%;
    grid-column: 1 / 3;
}

.slider_range {
    width: 100%;
    height: 2px;
    background: #2BA6FF;
    margin-top: 5px;
    margin-bottom: 28px;
    position: relative;
}

.slider_range .range {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2BA6FF;
    border-radius: 100%;
}

.input_price_draggable_count {
    display: flex;
    justify-content: space-between;
}

.input_price_draggable_count span {
    color: #7C9096;
    font-size: 12px;
}

.filter__item_checkbox [type="checkbox"] {
    display: none;
}

.filter__item_checkbox label {
    display: flex;
    clear: both;
    margin-bottom: 5px;
    align-items: center;
    gap: 5px;
}

.filter__item_checkbox label:last-child {
    margin-bottom: 0;
}

.filter__item_checkbox label:before {
    content: '';
    width: 14px;
    height: 14px;
    display: block;
    background: #F0F2F2;
    border-radius: 2px;
}

.filter__item_checkbox [type="checkbox"]:checked+label:after {
    content: '';
    width: 14px;
    height: 14px;
    border-radius: 2px;
    background: #2BA6FF;
    display: block;
    position: absolute;
}

.filter__item_checkbox:not(:last-child) {
    margin-bottom: 20px;
}

.filters .btn_blue {
    padding: 10px;
    width: 100%;
    display: block;
    text-align: center;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
}

.filters .btn_default {
    display: block;
    padding: 10px;
    width: 100%;
    text-align: center;
    border: 1px solid #2BA6FF;
    margin-top: 5px;
    font-size: 12px;
    font-weight: 600;
    color: #2BA6FF;
}

.filters .btn_default:hover {
    background: #2BA6FF;
    color: #FFF;
}

.banner_left {
    margin-top: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 61px;
    border-bottom: 4px;
}

.banner_left .top_block p:nth-child(1) {
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
}

.banner_left .top_block p:nth-child(2) {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 18px;
}

.banner_left .top_block p:nth-child(3) {
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}

.banner_left .bottom_block p:nth-child(1) {
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 8px;
}

.banner_left .bottom_block p:nth-child(2) {
    font-size: 32px;
    font-family: "Bebas Neue";
    color: #2BA6FF;
    text-align: center;
}

.right_block .top_banner {
    padding: 23px 30px;
    background: #2BA6FF;
    position: relative;
}

.right_block .top_banner h3 {
    color: #FFF;
    margin-bottom: 5px;
}

.right_block .top_banner p {
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFFBF;
}

.right_block .top_banner img {
    position: absolute;
    bottom: 0;
    right: 56.19px;
}

.top_category {
    margin-top: 10px;
    margin-bottom: 20px;
}

.top_category ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.top_category ul a {
    font-size: 14px;
}

.sort {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 35px;
    margin-bottom: 21px;
}

.sort .items {
    display: flex;
    gap: 10px;
    align-items: center;
}

.sort .name {
    font-size: 14px;
    font-weight: 600;
}

.sort_dropdown p {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sort_btn {
    background: #F5F5F5;
    border-radius: 60px;
    padding: 10px 15px;
    font-size: 12px;
    font-weight: 400;
}

.sort_btn.active {
    background: #2BA6FF;
    color: #FFF;
    font-weight: 600;
}

.catalog_pagination {
    margin-top: 57px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.items_pagination a {
    font-size: 12px;
    font-weight: 500;
}

.items_pagination {
    display: flex;
    gap: 25px;
}

.catalog_detail {
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
}

.catalog_detail .left_block {
    max-width: 560px;
}

.product_images {
    margin-bottom: 70px;
}

.product_full_images {
    aspect-ratio: 1 / 1;
    width: 440px;
    margin: auto;
    position: relative;
}

.product_thumb_images img {
    width: 96px;
    height: 96px;
    cursor: pointer;
}

.product_thumb_images {
    max-width: 440px;
    margin: auto;
    margin-top: 20px;
}

.plus_img {
    position: absolute;
    z-index: 9;
    left: 20px;
    top: 20px;
    background: #FFF;
    width: 40px;
    border-radius: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabs_product>ul {
    list-style: none;
    display: flex;
    margin-bottom: 32px;
}

.tabs_product>ul li {
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    border-right: 1px solid #E9ECEC;
    border-top: 1px solid #E9ECEC;
    border-bottom: 1px solid #E9ECEC;
    transition: 0.3s;
}

.tabs_product>ul li:first-child {
    border-left: 1px solid #E9ECEC;
}

.tabs_product>ul li.active {
    background: #2BA6FF;
    color: #FFF;
}

.characteristics .char {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #7C909640;
    margin-bottom: 16px;
}

.tabs_product_content>div:not(.active) {
    display: none;
}

.characteristics .char .value {
    font-weight: 600;
}

.catalog__callback_block form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.catalog__callback_block form label {
    font-weight: 500;
    margin-bottom: 11px;
}

.catalog__callback_block form label span {
    color: #2ba6ff;
}

.catalog__callback_block form input:not(.btn_blue) {
    border: none;
    background: #F0F2F2;
    border-radius: 4px;
    padding: 14px 15px;
    font-size: 14px;
    margin-bottom: 20px;
}

.catalog__callback_block form textarea {
    background: #F0F2F2;
    border: none;
    padding: 10px 15px;
    display: block;
    height: 120px;
    margin-bottom: 22px;
}

.catalog__callback_block form .btn_blue {
    padding: 14px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
}

.catalog_detail .article {
    color: #7C9096;
    font-size: 12px;
    width: 100%;
    margin-bottom: 16px;
}

.catalog_detail .price_block .top_block {
    margin-bottom: 120;
    display: flex
;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.catalog_detail .price_block .left_items>p {
    font-size: 14px;
    margin-bottom: 10px;
}

.catalog_detail .price_items .price_new {
    font-size: 42px;
    font-family: 'Bebas Neue', serif;
}

.catalog_detail .price_items .price_new span {
    font-size: 32px;
    font-weight: 700;
}

.catalog_detail .price_items .price_old {
    font-size: 24px;
    font-family: 'Bebas Neue';
    color: #7C9096;
    text-decoration: line-through;
}

.catalog_detail .price_items .price_old span {
    font-size: 16px;
    font-weight: 700;
    color: #7C9096;
    text-decoration: line-through;
}

.catalog_detail .price_block .price_items {
    display: flex
;
    align-items: center;
    gap: 20px;
}

.catalog_detail .price_block .info_delivery_prod {
    background: #2BA6FF0D;
    border-radius: 4px;
    padding: 5px 10px;
    display: flex
;
    align-items: center;
    gap: 5px;
}

.buy_info_block {
    background: #FFF;
    border-radius: 4px;
    overflow: hidden;
}

.buy_info_block .info_count_product {
    padding: 20px 40px;
    background: #F0F2F2;
    border-radius: 4px;
}

.buy_info_block .info_count_product p:nth-child(1) {
    font-size: 18px;
    font-weight: 600;
}

.buy_info_block .info_count_product p:nth-child(2) {
    font-size: 12px;
    display: flex
;
    gap: 3px;
    margin-top: 5px;
}

.info_warehouse_product {
    padding: 27px 40px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.info_warehouse_product>p {
    width: 100%;
    margin-bottom: 10px;
    font-size: 14px;
}

.info_warehouse_product {
    padding: 27px 40px 0;
    margin-bottom: 21px;
    display: flex
;
    flex-wrap: wrap;

}

.price_package_info {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.price_package_info .price_new {
    color: #2BA6FF;
    font-size: 68px;
    font-family: 'Bebas Neue';
}

.price_package_info .price_new span {
    font-size: 32px;
    font-weight: 700;
    color: #2BA6FF;
}

.price_package_info .price_old {
    color: #7C9096;
    font-size: 32px;
    text-decoration: line-through;
}

.info_warehouse_product__delivery {
    background: #2BA6FF0D;
    border-radius: 4px;
    display: flex
;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
}

.price_package_info .price_old span {
    font-size: 24px;
    color: #7C9096;
    font-weight: 400;
}

.info_warehouse_product__count {
    font-size: 14px;
    font-weight: 500;
}

.buy_info_block__min_info {
    padding: 20px 40px;
    display: flex
;
    align-items: center;
    gap: 10px;
}

.buy_info_block__min_info .icon {
    width: 36px;
    height: 36px;
    background: #F1F1F1;
    border-radius: 100%;
    display: flex
;
    align-items: center;
    justify-content: center;
}

.buy_info_block__min_info p {
    font-size: 12px;
}

.buy_info_block__min_info p span {
    font-size: 14px;
    font-weight: 600;
}

.buy_info_block__buy_btns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    padding: 0px 40px;
    gap: 15px;
}

.buy_info_block__buy_btns .btn_blue {
    padding: 14px;
    width: 100%;
    text-align: center;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
}

.buy_info_block__count {
    display: flex
;
    align-items: center;
    width: 100%;
    gap: 10px
}

.buy_info_block__count .minus,
.buy_info_block__count .plus{
    width: 45px;
    height: 45px;
    background: #2BA6FF0D;
    border-radius: 4px;
    display: flex
;
    align-items: center;
    justify-content: center;
}

.buy_info_block__count input {
    text-align: center;
    border: 0;
    background: #2BA6FF0D;
    height: 100%;
    border-radius: 4px;
}

.form_txt_cheaper {
    margin: 0 40px;
    margin-top: 10px;
    margin-bottom: 35px;
    border: 1px solid #7C9096;
    padding: 6px 10px;
    display: flex
;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
}

.form_txt_cheaper p {
    font-size: 12px;
    font-weight: 600;
    display: flex
;
    align-items: center;
    gap: 5px;
    color: #7C9096;
}

.catalog_detail__add_info .item {
    display: flex
;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.catalog_detail__add_info .item .name {
    color: #7C9096;
    font-size: 14px;
    width: 50%;
}

.catalog_detail__add_info .item .value {
    /* font-size: 16px; */
    width: 50%;
}

.catalog_detail__add_info .item.callback .value p {
    margin-bottom: 15px;
}

.catalog_detail__add_info .item.callback .value a {
    font-weight: 600;
    color: #2BA6FF;
    text-decoration: underline;
}

.catalog_detail__add_info .item .with_icon {
    display: flex
;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.catalog_detail__add_info .item .with_icon .icon {
    width: 36px;
    height: 36px;
    background: #F1F1F1;
    border-radius: 100%;
    display: flex
;
    align-items: center;
    justify-content: center;

}

.catalog_detail__add_info .item .with_icon span {
    font-size: 12px;
    font-weight: 500;
}

.catalog_detail__add_info .item:last-child .value span {
    font-weight: 600;
}

.swiper_prev {
    width: 40px;
    height: 40px;
    display: flex
;
    align-items: center;
    justify-content: center;
    background: #FFF;
    border-radius: 100%;
    display: flex
;
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translate(0, -50%);
    cursor: pointer;
    z-index: 2;
}

.swiper_next {
    width: 40px;
    height: 40px;
    display: flex
;
    align-items: center;
    justify-content: center;
    background: #FFF;
    border-radius: 100%;
    display: flex
;
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translate(0, -50%);
    cursor: pointer;
    z-index: 2;
}

.sticker_news {
    position: absolute;
    padding: 5px 10px;
    background: #2BA6FF;
    font-size: 12px;
    color: #FFF;
    border-radius: 16px;
    font-weight: 600;
    left: 10px;
    top: 10px
}

.sticker_stocks {
    position: absolute;
    padding: 5px 10px;
    background: #F54848;
    font-size: 12px;
    color: #FFF;
    border-radius: 16px;
    font-weight: 600;
    top: 10px;
    left: 10px;
}

.main_cart {
    display: grid
;
    grid-template-columns: auto auto;
    gap: 60px;
}

.main_cart .left_block {
    width: 200px;
}

.main_cart .right_block>.top_block {
    background: #2BA6FF0D;
    padding: 14px 20px;
    display: flex
;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.main_cart .right_block>.top_block span {
    font-size: 14px;
    font-weight: 500;
    color: #7C9096;
}

.cart_products table {
    border-collapse: collapse;
}

.cart_products table thead {
    background: #F0F2F2;
}

.cart_products table thead th {
    padding: 15px;
    text-align: left;
    font-weight: 500;
}

.cart_product_img {
    float: left;
    margin-right: 20px;
}

.check_cart_product {
    padding: 20px 0;
    vertical-align: baseline;
}

.cart_info_product {
    padding: 20px 0;
}

.cart_product_txt .name {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0;
}

.cart_product_txt span {
    font-size: 8px;
    font-weight: 500;
    color: #7C9096;
}

.cart_article,
.cart_price {
    width: 137px;
    padding: 20px 0;
    font-size: 14px;
}

.cart_count {
    padding: 20px 0;
    width: 117px;
}

.cart_count .variable_count {
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
    margin-right: 25px;
}

.cart_count .variable_count input {
    width: 57px;
    height: 30px;
    border: 0;
    background: #F0F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 4px;
}

.cart_count .variable_count .minus,
.cart_count .variable_count .plus {
    width: 18px;
    height: 18px;
    background: #F0F2F2;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.check_cart_product label {
    width: 20px;
    height: 20px;
    display: block;
    background: #F0F2F2;
    border-radius: 2px;
    position: relative;
}

.check_cart_product input[type="checkbox"] {
    display: none;
}

.check_cart_product input[type="checkbox"]:checked+label:after {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 2px;
    display: block;
    background: #2BA6FF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cart_products tbody tr {
    border-bottom: 1px solid #7C909640;
}

.total_block {
    margin-top: 25px;
}

.total_block .top_items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.total_block .top_items .left_items {
    display: flex;
    gap: 20px;
}

.total_block .top_items .left_items p,
.total_block .top_items .right_items .item p{
    font-size: 14px;
    font-weight: 500;
}

.total_block .top_items .left_items span,
.total_block .top_items .right_items .item span{
    font-size: 14px;
    font-weight: 300;
    color: #7C9096;
}

.total_block .top_items .right_items {
    display: flex;
    align-items: center;
    gap: 40px;
}

.total_block .top_items .right_items .item {
    display: flex
;
    gap: 20px;
}

.total_block .info_items {
    margin: 30px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    width: 90%;
}

.total_block .info_items .left_items ,
.total_block .info_items .right_items {
    display: grid;
    gap: 10px;
    grid-template-columns: auto 1fr;
}

.total_block .info_items .left_items .icon,
.total_block .info_items .right_items .icon {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.total_block .info_items .left_items .icon {
    background: #F5484826;
}

.total_block .info_items .right_items .icon {
    background: #2BA6FF26;
}

.total_block .info_items .left_items p,
.total_block .info_items .right_items p {
    font-size: 12px;
}

.total_block .info_items .left_items p span,
.total_block .info_items .right_items p span {
    font-weight: 600;
}

.total_block .btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.total_block .btns .left_items .btn_no_bg {
    padding: 10px;
    font-size: 12px;
    color: #2BA6FF;
    width: 140px;
    display: block;
    text-align: center;
    border: 1px solid #2BA6FF;
    border-radius: 4px;
    font-weight: 500;
    transition: 0.1s;
}

.total_block .btns .left_items .btn_no_bg:hover {
    color: #FFF;
    background: #2BA6FF;
}

.total_block .btns .left_items .red_btn_no_bg {
    padding: 10px;
    font-size: 12px;
    color: #F54848;
    width: 140px;
    display: flex;
    text-align: center;
    border: 1px solid #F54848;
    border-radius: 4px;
    font-weight: 500;
    transition: 0.1s;
    align-items: center;
    justify-content: center;
    gap: 11.75px;
    transition: 0.1s;
}

.total_block .btns .left_items .red_btn_no_bg:hover {
    background: #F54848;
    color: #FFFFFF;
}

.total_block .btns .left_items .red_btn_no_bg:hover path {
    fill: #FFF;
}

.total_block .btns .left_items {
    display: flex;
    gap: 20px;
}

.total_block .btns .right_items .btn_blue {
    width: 200px;
    display: block;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
}

.order {
    display: flex;
    gap: 40px;
}

.order .left_block {
    width: 65%;
}

.info_buyer .name_block,
.info_buyer .contact_block .item {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.info_buyer .name_block label,
.info_buyer .contact_block label,
.info_block_order .item label,
.info_block_order .item p {
    font-size: 16px;
    font-weight: 600;
}

.order .info_buyer input,
.order .info_buyer textarea {
    font-size: 14px;
    border: 0;
    padding: 14px 15px;
    background: #F0F2F2;
    border-radius: 4px;
    width: 100%;
}

.order .info_buyer textarea {
    height: 129px;
}

.info_buyer .name_block label span,
.info_buyer .contact_block label span {
    color: #2BA6FF;
}

.info_buyer .contact_block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    gap: 40px;
}

.info_block_order {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-top: 20px;
}

.info_block_order .item {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.input_file {
    position: relative;
    display: inline-block;
    width: fit-content;
}

.input_file span {
    position: relative;
    display: flex;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-size: 14px;
    vertical-align: middle;
    color: rgb(255 255 255);
    text-align: center;
    border-radius: 4px;
    background-color: #2BA6FF;
    gap: 12.5px;
    font-size: 12px;
    padding: 10px;
    width: 160px;
    font-weight: 700;
    border: 1px solid #2BA6FF;
    transition: background-color 0.2s;
    justify-content: center;
    align-items: center;
}

.input_file:hover span {
    background: #FFF;
    color: #2BA6FF;
}

.input_file input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

.input_file:hover span svg,
.input_file:hover span path {
    stroke: #2BA6FF;
}

.product_in_cart {
    margin-top: 50px;
}

.product_in_cart td {
    padding: 20px 0;
}

.product_in_cart .name_info {
    padding: 20px;
}

.product_in_cart .name_info p {
    font-size: 14px;
    font-weight: 500;
}

.product_in_cart .name_info span {
    color: #7C9096;
    font-size: 8px;
}

.product_in_cart .count {
    padding: 20px;
    font-size: 14px;
}

.product_in_cart .total {
    color: #2BA6FF;
    font-size: 14px;
    padding: 20px;
}

.product_in_cart tr {
    border-bottom: 1px solid #7C909640;
}

.product_in_cart table {
    border-collapse: collapse;
}

.order .right_block .sticky_block {
    padding: 30px;
    background: #FFF;
    border-radius: 4px;
    position: sticky;
    top: 10px;
}

.order .right_block .sticky_block .middle_txt {
    font-weight: 500;
    margin-bottom: 20px;
}

.order .right_block .sticky_block .total_price {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 27px;
}

.order .right_block .sticky_block .total_price .price_new {
    font-size: 24px;
    font-family: 'Bebas Neue';
}

.order .right_block .sticky_block .total_price .price_old {
    color: #7C9096;
    text-decoration: line-through;
}

.order .right_block .sticky_block .total_vat_info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 22px;
}

.order .right_block .sticky_block .total_vat_info .small_txt {
    font-size: 14px;
}

.order .right_block .sticky_block .total_vat_info .big_txt {
    font-size: 24px;
    font-family: 'Bebas Neue';
}

.order .right_block .sticky_block .bottom_total_price {
    font-size: 42px;
    font-family: 'Bebas Neue';
    color: #2BA6FF;
    margin-bottom: 30px;
}

.order .right_block .sticky_block .btn_blue {
    padding: 14px;
    font-size: 14px;
    font-weight: 600;
    display: block;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 16px;
}

.order .right_block .sticky_block .checked_policy input {
    display: none;
}

.order .right_block .sticky_block .checked_policy .check {
    width: 16px;
    height: 16px;
    display: block;
    background: #F0F2F2;
    border-radius: 4px;
}

.order .right_block .sticky_block .checked_policy {
    display: grid;
    gap: 10px;
    grid-template-columns: auto 1fr;
}

.order .right_block .sticky_block .checked_policy input:checked+.check:after {
    background: #2BA6FF;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    transform: translate(-50%, -50%);
    border-radius: 2px;
}

.order .right_block .sticky_block .checked_policy span {
    font-size: 12px;
    color: #7C9096;
}